* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body,
html {
    height: auto;
    /* Allows content to define the height */
    overflow: auto;
    /* Enables scrolling if content overflows */

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 24px;
    padding: 10px 0;
    background-color: rgba(44, 62, 80, 0.5);
    z-index: 1000;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #000;
}

#starCanvas {
    position: absolute;
    width: 150%;
    height: 150%;
    z-index: -2;
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    background: rgba(44, 66, 88, 0.44);
    border-radius: 15px;
    margin: 100px auto 20px;
    /* Center the content and ensure it does not overlap the header */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    backdrop-filter: blur(3px);
    overflow: hidden;
    /* Ensures no content spills outside the container */
}

header h1 {
    text-align: center;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    background: rgba(44, 62, 80, 1);
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
}

ul li a {
    text-decoration: none;
    color: #ffffff6e;
    display: block;
}

ul li:hover {
    background: rgba(20, 129, 201, 0.854);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
    color: #B8C6DC;
    padding: 0 20px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav a {
    color: #B8C6DC;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background-color: #34495e;
    color: #FFFFFF;
}

figure {
    margin: 0;
    /* Adjusts margin to ensure images are centered */
    text-align: center;
}

img {
    width: 100%;
    max-width: 150px;
    /* Ensures image is responsive within its container */
    max-height: auto;
    /* Maintains aspect ratio */
    border-radius: 10px;
    /* Adds styled corners to the images */
}

figure figcaption {
    color: #5f605d;
    margin-top: 5px;
    font-style: italic;
    font-size: 0.5rem;
    /* Adjust for readability */
}

figcaption h2 {
    color: #ffffffd4;
    margin-top: 5px;
    font-style: normal;
    font-size: 0.9rem;
    /* Adjust for readability */

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #FFF;
    padding: 10px 0;
    background-color: rgba(44, 62, 80, 0.8);
    z-index: 1;
}